{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initia-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Bluebox</title>
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/index_style.css' %}">
    <script src="{% static 'catalog/indexjs.js' %}"></script>
<body class="body_class">    


    <h1>This is a heading for index</h1>
    <!-- <img src="{% static 'catalog/bluebox_logo.png' %}" class="img-fluid" alt="Responsive image"> -->
   


    <!-- <div class="jumbotron jumbotron-fluid" >
        <div  class="container">            
            <img src="{% static 'catalog/bluebox_logo.png' %}" class="img-fluid" alt="Responsive image">
        </div>
    </div>    
    <div>
        <div class="container" >
            <div class="row">
                <h1 class="display-6">Movies</h1>
            </div>
        <hr/>
        <div class="container mr-5">
            <div class="input-group" mt-5>
                <input type="text" class="form-control" placeholder="Enter movie name here">
                    <div class="input-group-prepend">
                        <button class="btn bnt-outline-secondary" type="button">&#x1F50D;</button>
                </div>
            </div>
            </div>     -->
            <!-- {% load crispy_forms_tags %} -->
            <!-- {% block content %} -->
            
             <!-- <div class="container" id="id_image">
            </div> -->
            <!-- {% endblock %} -->
            <!-- <div class="container mt-5">
                <div class="row justify-content-center">
                    <form action="actionURL" method="GET">
                        <button class="btn btn-dark"type="button" onclick="addMovie()">Load more movies</button>  
                    </form>
                </div>
                <script type="text/javascript">
                    DJANGO_STATIC_URL = '{{ STATIC_URL }}';
                    function addMovie() {
                    //    alert("Hi");                        
                        var img = document.createElement("IMG");
                        img.src = "/static/catalog/bluebox_logo.png";

                    //    document.getElementsByClassName("container").appendChild(img);
                        document.getElementById('id_image').appendChild(img);

                    }
                </script>
            </div>
        </div>
    
    </div> -->
</body>
</head>
</html>
<!-- <form method="GET" action="testIndex.html">
        {% csrf_token %}
            {{form|crispy}}

         


        </form> -->

        <!-- <img src="{% static 'catalog/bluebox_logo.png' %}" class="img-fluid" alt="Responsive image"> -->
