{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initia-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Bluebox</title>
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/index_style.css' %}">
    <script src="{% static 'catalog/indexjs.js' %}"></script>
<body class="body_class">    


    <h1>This is a heading for index</h1>
    <form method="GET">
    {% csrf_token %}
    {{ form }}
    <button type="Submit">Submit</button>
    <button type="button" onclick="showSearchedMovie()">Reload with movie chosen</button>
    </form>

    <!-- <img src = '/static/catalog/YourName.jpg'></img> -->
    <div id="image_cont">

        {% for movie in movies %}
        <!-- <div id='{{movie.id}}'> -->
            <a id='{{movie.id}}' data-link="{{movie.link}}" data-img="{{movie.img}}" onclick='chckOutPage(this.id, this.getAttribute("data-link"), this.getAttribute("data-img") )'> 
                    <img src='{{movie.img_r}}'></img>
                </a>
                <!-- </div> -->
                
        {% endfor %}
    </div>

    <script type="text/javascript">
        function chckOutPage(clicked_id, clicked_link, clicked_img){
            var image_id = document.getElementById(clicked_id);
            window.location.href = "checkout.html" + '#' + clicked_id + '#' + clicked_link + '#' + clicked_img;
           }

        function showSearchedMovie(){


            

            document.getElementById("image_cont").innerHTML = ' ';
            var image_local = "{{search_result}}";
            // image_local = image_local.replace("[&#39;", "");
            // image_local = image_local.replace("&#39;]", "");
            // image_local = image_local.replace("&#39;", "");
            // image_local = image_local.replace("\'", "");
            // image_local = image_local.replace(/["']/g, "");


            // document.write(image_local);

            var image = document.createElement("img");
            
            
            image.src = image_local;
        
            
            
            if(image_local.search(',')){
                image_local = image_local.split(',');

                // document.write(Array.isArray(image_local));

                var i;
                
                var arrayLenght = image_local.length; 
                for (i = 0; i < arrayLenght; i++) { 
                    image_local[i] = image_local[i].replace("'", "");
                    // image_local[i] = String(image_local[i]).replace(/["']/g, "");


                    var image = document.createElement("img");

                    var dir = image_local[i];
                    dir = dir.replace("[&#39;", "");
                    dir = dir.replace("&#39;]", "");
                    dir = dir.replace("&#39;", "");
                    dir = dir.replace("&", "");
                    // dir = dir.trim(-5);
                    // dir = dir.replace("&#39;", "");
          

                    image.src = dir;
                    document.getElementById('image_cont').appendChild(image);
        

                    // document.write(image_local[i]);
                }

                
            }
            




           
            
            // document.write(typeof image_local);

            document.getElementById('image_cont').appendChild(image);




            // document.body.insertAdjacentElement(image);
            // document.body.appendChild(document.getElementById('image_cont'));
            // alert(document.getElementById('work').innerHTML)

        }


    </script>
    
</body>
</head>
</html>