<html>
<head>
  <title>Register</title>
  {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'catalog/stylesheet.css' %}">
<body>

  <div class="registerbox">
  <!-- <img src="image.png" class="avatar"> needs image-->
  <h1>Register</h1>
  <hr id="breakline"> <br>
  <form>
    <p>First Name</p>
    <input type="text" name="" placeholder="Enter First Name">
    <p>Last Name</p>
    <input type="text" name="" placeholder="Enter Last Name">
    <p>Username</p>
    <input type="text" name="" placeholder="Enter Username">
    <p>password</p>
    <input type="password" name="" placeholder="Enter password">
    <p>Card Number</p>
    <input type="text" name="" placeholder="Enter card number">
    <p>CCV Number</p>
    <input type="text" name="" placeholder="Enter ccv number">
    <p>Expiration Date</p>
    <input type="text" name="" placeholder="Enter expiration date">
    <p>Birthday</p>
    <input type="text" name="" placeholder="Enter birthday">
    <input type="submit" name="" value="Register">
  </form> 
</body>
</head>
</html>

