<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initia-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bluebox</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/indexcss.css' %}">

    <script src="{% static 'catalog/indexjs.js' %}"></script>
    <!--
    <script>
        function myFunction() {
        document.getElementById("greating_id").innerHTML = "Mom?";
        }
    </script>
-->
<body class="mainpage">

    <h1 class = "greating" id="greating_id">
        Movies
    </h1>

    <div class="searchbox">
        <form method="GET", action="testIndex.html">
            {% csrf_token %}
            {{ form }}
            <input id="search_box" type="text" name="search_box" placeholder="Search...">
            <button id="search_submit"  type="Submit">Submit</button>
        </form>
    </div>

    <div class="row">
            <div class="col" id="col_id">
                <img src="{% static 'catalog/doge.jpg' %}">
    <!--        <img src="Images/poster1.jpg" height="400">-->
    <!--
            <img src="Images/poster2.jpg" height="400">
            <img src="Images/poster3.jpg" height="400">
            <img src="Images/poster4.jpg" height="400">
            <img src="Images/poster5.jpg" height="400">
            <img src="Images/poster6.jpg" height="400">
            <img src="Images/poster7.jpg" height="400">
            <img src="Images/poster8.jpg" height="400">
            <img src="Images/poster9.jpg" height="400">
            <img src="Images/poster10.jpg" height="400">
            <img src="Images/poster11.jpg" height="400">
            <img src="Images/poster12.jpg" height="400">
            <img src="Images/poster13.jpg" height="400">
            <img src="Images/poster1.jpg" height="400">
            <img src="Images/poster2.jpg" height="400">
            <img src="Images/poster3.jpg" height="400">
            <img src="Images/poster4.jpg" height="400">
            <img src="Images/poster5.jpg" height="400">
            <img src="Images/poster6.jpg" height="400">
            <img src="Images/poster7.jpg" height="400">
            <img src="Images/poster8.jpg" height="400">
            <img src="Images/poster9.jpg" height="400">
            <img src="Images/poster10.jpg" height="400">
            <img src="Images/poster11.jpg" height="400">
            <img src="Images/poster12.jpg" height="400">
            <img src="Images/poster13.jpg" height="400">
            <img src="Images/poster1.jpg" height="400">
            <img src="Images/poster2.jpg" height="400">
            <img src="Images/poster3.jpg" height="400">
            <img src="Images/poster4.jpg" height="400">
            <img src="Images/poster5.jpg" height="400">
            <img src="Images/poster6.jpg" height="400">
            <img src="Images/poster7.jpg" height="400">
            <img src="Images/poster8.jpg" height="400">
            <img src="Images/poster9.jpg" height="400">
            <img src="Images/poster10.jpg" height="400">
            <img src="Images/poster11.jpg" height="400">
            <img src="Images/poster12.jpg" height="400">
            <img src="Images/poster13.jpg" height="400">
            <img src="Images/poster1.jpg" height="400">
            <img src="Images/poster2.jpg" height="400">
            <img src="Images/poster3.jpg" height="400">
            <img src="Images/poster4.jpg" height="400">
            <img src="Images/poster5.jpg" height="400">
            <img src="Images/poster6.jpg" height="400">
            <img src="Images/poster7.jpg" height="400">
            <img src="Images/poster8.jpg" height="400">
            <img src="Images/poster9.jpg" height="400">
            <img src="Images/poster10.jpg" height="400">
            <img src="Images/poster11.jpg" height="400">
            <img src="Images/poster12.jpg" height="400">
            <img src="Images/poster13.jpg" height="400">
            <img src="Images/poster1.jpg" height="400">
            <img src="Images/poster2.jpg" height="400">
            <img src="Images/poster3.jpg" height="400">
            <img src="Images/poster4.jpg" height="400">
            <img src="Images/poster5.jpg" height="400">
            <img src="Images/poster6.jpg" height="400">
            <img src="Images/poster7.jpg" height="400">
            <img src="Images/poster8.jpg" height="400">
            <img src="Images/poster9.jpg" height="400">
            <img src="Images/poster10.jpg" height="400">
            <img src="Images/poster11.jpg" height="400">
            <img src="Images/poster12.jpg" height="400">
            <img src="Images/poster13.jpg" height="400">
            <img src="Images/poster1.jpg" height="400">
            <img src="Images/poster2.jpg" height="400">
            <img src="Images/poster3.jpg" height="400">
            <img src="Images/poster4.jpg" height="400">
            <img src="Images/poster5.jpg" height="400">
            <img src="Images/poster6.jpg" height="400">
            <img src="Images/poster7.jpg" height="400">
            <img src="Images/poster8.jpg" height="400">
            <img src="Images/poster9.jpg" height="400">
            <img src="Images/poster10.jpg" height="400">
            <img src="Images/poster11.jpg" height="400">
            <img src="Images/poster12.jpg" height="400">
            <img src="Images/poster13.jpg" height="400">
            <img src="Images/poster1.jpg" height="400">
            <img src="Images/poster2.jpg" height="400">
            <img src="Images/poster3.jpg" height="400">
            <img src="Images/poster4.jpg" height="400">
            <img src="Images/poster5.jpg" height="400">
            <img src="Images/poster6.jpg" height="400">
            <img src="Images/poster7.jpg" height="400">
            <img src="Images/poster8.jpg" height="400">
            <img src="Images/poster9.jpg" height="400">
            <img src="Images/poster10.jpg" height="400">
            <img src="Images/poster11.jpg" height="400">
            <img src="Images/poster12.jpg" height="400">
            <img src="Images/poster13.jpg" height="400">
            <img src="Images/poster1.jpg" height="400">
            <img src="Images/poster2.jpg" height="400">
            <img src="Images/poster3.jpg" height="400">
            <img src="Images/poster4.jpg" height="400">
            <img src="Images/poster5.jpg" height="400">
            <img src="Images/poster6.jpg" height="400">
            <img src="Images/poster7.jpg" height="400">
            <img src="Images/poster8.jpg" height="400">
            <img src="Images/poster9.jpg" height="400">
            <img src="Images/poster10.jpg" height="400">
            <img src="Images/poster11.jpg" height="400">
            <img src="Images/poster12.jpg" height="400">
            <img src="Images/poster13.jpg" height="400">
    -->
            </div>
        </div>
        
    <button type="button" onclick="addMovie()">Load more movies</button>   
    
</body>
</head>
</html>