<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initia-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/stylesheet.css' %}">

    <style>
        html,body{

            width:100%;
            height:100%;
            margin:0;
        }

        .i_frame iframe{

            width:100%;
            height: 100%;
        }
   .i_frame{
     

            width: 100%;
            height: 100%;

        }

        
    </style>

<body>
    <div class="i_frame">

        <iframe id="video" src="" frameborder="0" allowfullscreen></iframe>   
    </div>
    
    <script>
        
    window.onload = load_movie();
    // document.getElementById('video').src = window.location.hash.substring(3);
    
        function load_movie(){

            var movie = window.location.href;
            movie = movie.split('#'); // Split upon #

            var arrayLenght = movie.length;
            for (i = 0; i < arrayLenght; i++) { 
                movie_src = movie[2];
                var movie_tag = document.getElementById('video');
                // movie_tag = movie_tag.replace("R.", '.');
                movie_tag.src = movie_src; 
            }   
        }

    </script>

</body>
</head>
</html>